<h1 class="floating">Your bookmarked artists</h1>
<div class="scrollgrid">
  <div class="list">
<%= render 'layouts/browseart' %>
</div class="notifications">
If an artist is in an event, show that here</div>
</div>
