<div class='addlisting'><%= form_for([@user, @event, @location, @listing]) do |f| %>
<%= f.submit "I am showing here", :confirm => "This form will add you to this studio listing as an artist. Please confirm that you are showing your work here."  %>
<% end %>
</div>
