<% if @current_user.profile != nil %>
<div class='addlisting'><%= form_for([@user, @event, @location, @listing]) do |f| %>
<%= f.submit data: {confirm: "This action will add you to this listing as an artist. \n Please confirm that you are showing work at this location. \n If you are only a visitor, please press the Visit button below.", remote: true}  %>
<% end %>
</div>
<% end %>
