<div class="flexcenter home">
  <div class="fill">
<a href="https://github.com/mwissig/artcrawler"><i style="font-size: 80px; font-weight: normal;" class="fab fa-github"></i></a>
<div><p>This site is currently populated with example data for demonstration purposes; all events and locations listed are fake.</p></div>
      </div>
    </div>
