<!-- <div class="selector"><form>
<select name="list" id="list" accesskey="target">
    <option value='none' selected>Show me...</option>
    <option value="index.html">Newest Artists</option>
    <option value="theme2.html">My Bookmarks</option>
    <option value="theme3.html">Most Popular Artists</option>
        <option value="theme3.html">Local Artists</option>
</select>
<input type=button value="Go" onclick="showModal(page)" />
</form></div> -->
<%= render 'layouts/browseart' %>
