<div class="flexcenter home">
  <div class="fill">

    <div class='footer' id="vertfooter">
    <div>    <div class="dot smavatar" style="background-image: url('='https://picsum.photos/100/100/headshot?lock=' + 1 + ''= %>')">
    </div>
<div class="helpme">This button goes to your account page where you can edit your information and create a profile if you are an artist.</div>
    </div>
    <div><div class="dot">

      <i class="material-icons">
    map
    </i>

    </div>
<div class="helpme">  This button opens a list of events you have personalized maps for. You can add points of interest to a map by selecting locations from a specific event.</div>
</div>
    <div><div class="dot">
      <%= link_to events_path do %>
      <i class="material-icons">
    public
    </i>
    <% end %>
    </div>
<div class="helpme">This button opens a list of the events in your city, state, and everywhere else.</div>
  </div>
    <div><div class="dot">

      <i class="material-icons">
    bookmarks
    </i>

    </div>
<div class="helpme">Your bookmarks page shows artists you have saved as bookmarks and a list of events they are participating in.</div>
  </div>
    <div><div class="dot">

      <i class="material-icons">
    palette
    </i>

    </div>
<div class="helpme">This page shows a list of all of the artists using this app.</div>
  </div>
    </div>

      </div>
    </div>
