/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  background: linear-gradient(white, rgb(220, 228, 226));
  height: 100%;
}

body {
  width: 100vw;
  top: 0;
  font-family: 'sans';
  background: linear-gradient(white, rgb(220, 228, 226));
  height: calc(100vh - 60px);
  margin: 0 auto;
  text-align: center;
}

h1, h2 {
  font-family: 'manbow';
  margin: 0;
}

h1 {
  transform: rotate(6deg);
  color: rgb(60, 60, 60);
  text-align: right;
  margin-right: 15px;
}

.material-icons {
  color: rgb(220, 228, 226);
}

header {
  position: fixed;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 40%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 40%);
  height: 60px;
  background-color: rgba(150, 249, 255, 0.8);
  left: 0;
  top: 0;
  width: 100vw;
  margin: 0;
}

.hidden {
  visibility: hidden;
}

footer {
  position: fixed;
  -webkit-clip-path: polygon(0 0, 100% 40%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 40%, 100% 100%, 0% 100%);
  height: 60px;
  background-color: rgba(33, 70, 82, 0.8);
  left: 0;
  bottom: 0;
  width: 100vw;
  margin: 0;
  text-align: center;
}

.crossbar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100px;
  -webkit-clip-path: polygon(0 0, 0% 100%, 15% 0);
  clip-path: polygon(0 0, 0% 100%, 15% 0);
  background-color: rgba(135, 86, 142, 0.83);
}

.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  width: 95vw;
  text-align: center;
  margin: 0;
  z-index: 5;
}

.footer div {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}

.footer div div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 153, 0, 0.87);
  border-radius: 50%;
  z-index: 10;
  margin-bottom: 10px;
  padding: 5px;
  overflow: hidden;
  z-index: 11;
}

.footer div:nth-child(4) div {
  height: 45px;
  width: 45px;
}

.footer div:nth-child(4) div .material-icons {
  font-size: 35px;
}

.footer div:nth-child(3) div {
  height: 40px;
  width: 40px;
}

.footer div:nth-child(3) div .material-icons {
  font-size: 30px;
}

.footer div:nth-child(2) div {
  height: 35px;
  width: 35px;
}

.footer div:nth-child(2) div .material-icons {
  font-size: 25px;
}

.footer div:nth-child(1) div {
  height: 30px;
  width: 30px;
}

.footer div:nth-child(1) div .material-icons {
  font-size: 20px;
}

.flexcenter {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
