// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.addlisting {
  position: fixed;
  top: 50px;
margin: 0;
width: 100%;
  z-index: 100;
}
.addlisting input[type="submit"] {
  background-color: orange;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.listing input[type=submit], .visit input[type=submit]  {
  background-color: orange;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin: 5px;
  box-shadow: 0 1px 1px black;
}
.visit {
position: absolute;
top: 20px;
right: 20px;
}
.visit input[type=submit] {
  font-size: 18px;
  padding: 5px 10px;
}
