// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mapmarker {
  width: 100%;
  height: 100%;
}
.mapmarker .title {
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0px;
    background-color:orange;
    border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        font-weight: bold;
        padding: 2px;
}
.mapmarker .title a {
  text-decoration: none;
  color: black
}
.mapmarker .loctype {
  float: right;
  color: black;
  margin-top: 25px;
}
.gm-style-iw {
  padding: 0px;
}
.mapmarker img {
  border: 1px solid black;
  ; margin:5px;
    margin-top: 25px;
    float:left;
}

.floatleft {
  float: left;
  color: black;
  font-weight: bold;
}
.floatleft .material-icons {
  color: red;
}
.allListings {
  padding-top: 0;
  padding-bottom: 70px;
  position: fixed;
  overflow: scroll;
  top: 50vh;
  bottom: 0;
  width: 100%;
}
.allListings h2 {
  margin: 2px;
}
.highlight {
  background-color: yellow;
}
