// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'manbow';
  src: font-url('manbow.woff') format('woff');
}
@font-face {
  font-family: 'sans';
  src: font-url('sans.woff') format('woff');
}

.digg_pagination {
  background: transparent;
  cursor: default;
  z-index: 25;
  position: fixed;
  /* self-clearing method: */
}

.digg_pagination a,
.digg_pagination em,
.digg_pagination span {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px;
  font-weight: bold;
}

.digg_pagination .previous_page {
    background: #db5523;
  margin-right: -10px;
  -webkit-clip-path: polygon(40% 0%, 40% 20%, 60% 0, 60% 100%, 40% 80%, 40% 100%, 0% 50%);
  clip-path: polygon(40% 0%, 40% 20%, 60% 0, 60% 100%, 40% 80%, 40% 100%, 0% 50%);
}
.digg_pagination .previous_page:hover {
    color: transparent;
    border: none;
}
.digg_pagination .next_page {
  color: transparent;
  background: #db5523;
  margin-left: -10px;
  -webkit-clip-path: polygon(40% 0, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 40% 100%);
  clip-path: polygon(40% 0, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 40% 100%);
}
.digg_pagination .next_page:hover {
    color: transparent;
    border: none;
}

.digg_pagination .disabled {
  color: transparent;
  background-color: transparent;
}

.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #db5523;
  border-radius: 50%;
  color: white;
  border: 1px solid #db5523;
  display: flex;
  align-items: center;
  justify-content: center;
}

.digg_pagination a {
  text-decoration: none;
  color: #db5523;
  background-color: white;
  border: 1px solid #db5523;
  border-radius: 50%;
}

.digg_pagination .page_info {
  background: #db5523;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center;
}

.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .digg_pagination {
  height: 1%;
}

*:first-child + html .digg_pagination {
  overflow: hidden;
}
