// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'manbow';
  src: font-url('manbow.woff') format('woff');
}
@font-face {
  font-family: 'sans';
  src: font-url('sans.woff') format('woff');
}

.digg_pagination {
  background: transparent;
  cursor: default;
  z-index: 200 !important;
  position: fixed;
  /* self-clearing method: */
}

.digg_pagination a,
.digg_pagination em,
.digg_pagination span {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px;
  font-weight: bold;
}

.digg_pagination .previous_page {
    background: #db5523;
  margin-right: -10px;
  -webkit-clip-path: polygon(40% 0%, 40% 20%, 60% 0, 60% 100%, 40% 80%, 40% 100%, 0% 50%);
  clip-path: polygon(40% 0%, 40% 20%, 60% 0, 60% 100%, 40% 80%, 40% 100%, 0% 50%);
}
.digg_pagination .previous_page:hover {
    color: transparent;
    border: none;
}
.digg_pagination .next_page {
  color: transparent;
  background: #db5523;
  margin-left: -10px;
  -webkit-clip-path: polygon(40% 0, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 40% 100%);
  clip-path: polygon(40% 0, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 40% 100%);
}
.digg_pagination .next_page:hover {
    color: transparent;
    border: none;
}

.digg_pagination .disabled {
  color: transparent;
  background-color: transparent;
}

.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #db5523;
  border-radius: 50%;
  color: white;
  border: 1px solid #db5523;
  display: flex;
  align-items: center;
  justify-content: center;
}

.digg_pagination a {
  text-decoration: none;
  color: #db5523;
  background-color: white;
  border: 1px solid #db5523;
  border-radius: 50%;
}

.digg_pagination .page_info {
  background: #db5523;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center;
}

.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

* html .digg_pagination {
  height: 1%;
}

*:first-child + html .digg_pagination {
  overflow: hidden;
}
.home input[type=submit], .login input[type=submit] {
  background-color: orange;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  width: 90%;
  margin: 10px 0;
  box-shadow: 0 1px 1px black;
  font-size: 30px;
}
.login input {
  background-color: white;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  width: 90%;
  margin: 10px 0;
  box-shadow: 0 1px 1px black;
  font-size: 18px;
}
.login select {
  background-color: white;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  width: 100%;
  float: right;
  margin: 10px 10px;
  box-shadow: 0 1px 1px black;
  font-size: 18px;
  display: inline;
  top: 0;
}
.login textarea {
  background-color: white;
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  width: 90%;
  height: 150px;
  margin: 10px 0;
  box-shadow: 0 1px 1px black;
  font-size: 18px;
}
.login label {
  display: inline;
  float: left;
width: 90%;
  padding: 0 10px;
}
.logingrid {
  display: grid;
  grid-template-columns: 40% 60%;
}
.login {
  width: 100%;
}
.home li {
  list-style: none;

}
.home ul {
    padding-left: 0;
}
.home {
  background-image: asset-data-url('map.jpg');
  height: 100%;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}
.profilenew {
  margin-top: 150px;
}
.infofloat {
  background: rgb(244, 238, 166);
  width: 90%;
  margin: 0 auto;
  margin-top: 300px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 1px 1px black;
  padding: 8px;
}
.delete button {
  border-radius: 5px;
  border: none;
  padding: 5px 10px;
  width: 70%;
  margin: 10px auto;
  box-shadow: 0 1px 1px black;
  font-size: 20px;
  float: none !important;
}
.delete {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
#vertfooter {
flex-direction: column;
  justify-content: space-between;
top: 100px;
height: 400px;
   align-items: flex-start;
}
.helpme {
  width: 70vw !important;
  background-color: white !important;
  border-radius: 5px !important;
  height: auto !important;
  padding: 5px !important;
  box-shadow: 0 1px 1px black !important;
  margin: 5px !important;
  right: 20px;
}
