<div class='footer'>
<div><div class="dot"><i class="material-icons">
account_circle
</i></div></div>
<div><div class="dot"><i class="material-icons">
map
</i></div></div>
<div><div class="dot"><i class="material-icons">
favorite
</i></div></div>
<div><div class="dot"><i class="material-icons">
palette
</i></div></div>
</div>
<footer>

</footer>
